/********************************************
* This CSS file belongs to the Admin part   *
* of WP-Table Reloaded 1.0.1! PLEASE DO NOT *
* make any changes here! Thank you!         *
********************************************/

table.wp-table-reloaded-options td {
	padding: 5px 0px 5px 0px;
}

table.wp-table-reloaded-options th {
	font-weight: normal;
	text-align: left;
	padding: 5px 10px 5px 0px;
	vertical-align: middle;
}

/* overwrite 980px max-width in WP < 2.7 */
div.wrap { max-width: 100%!important; }